# BASE
CONFIG_AUTOSTART_ARDUINO=y
CONFIG_FREERTOS_HZ=1000

CONFIG_USB_HOST_ENABLED=y
CONFIG_USB_CDC_ACM_SUPPORTED=y
CONFIG_USB_HOST_TASK_PRIORITY=5
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=256
CONFIG_USB_HOST_DEBOUNCE_DELAY_MS=150
CONFIG_USB_HOST_PRIORITY=2
CONFIG_USB_HCD_USE_DMA=n
CONFIG_USB_HCD_BULK_ONLY_TRANSFER=y
CONFIG_USB_HCD_QUEUE_TIMEOUT_MS=1000
CONFIG_USB_HCD_MAX_NUM_ENDPOINTS=6
CONFIG_USB_HCD_MAX_NUM_DEVICES=4
CONFIG_USB_HCD_DEBUG_LEVEL_VERBOSE=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_SIZE=2097152

CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# LOGGING
CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
CONFIG_LOG_DEFAULT_LEVEL=5
