# BASE
CONFIG_AUTOSTART_ARDUINO=y
CONFIG_FREERTOS_HZ=1000

# USB Configuration
CONFIG_TINYUSB_ENABLED=y
CONFIG_TINYUSB_HOST_ENABLED=y
CONFIG_TINYUSB_HOST_MODE_FULL_SPEED=y

# USB Host Class drivers
CONFIG_TINYUSB_HOST_HUB=y
CONFIG_TINYUSB_HOST_HID=y
CONFIG_TINYUSB_HOST_MSC=y
CONFIG_TINYUSB_HOST_CDC=y

# USB Host Configuration
CONFIG_TINYUSB_HOST_DEVICE_MAX=4

# Debug level
CONFIG_TINYUSB_DEBUG_LEVEL=1

# USB Host settings
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=256
CONFIG_USB_HOST_DEBOUNCE_DELAY_MS=150
CONFIG_USB_HOST_RESET_RECOVERY_MS=100
CONFIG_USB_HOST_SET_ADDR_RECOVERY_MS=100

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y

CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# EXTRA LOGS FOR DEBUGGING PANICS
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_LOG_DEFAULT_LEVEL=2

# Bootloader
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_BOOTLOADER_LOG_LEVEL=0
CONFIG_BOOT_ROM_LOG_ALWAYS_OFF=y

# Move WiFi task to Core 1 (away from UART on Core 0)
#CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_0=n
#CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1=y

# Increase WiFi buffers
#CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=16

# UART DMA support
CONFIG_UART_ISR_IN_IRAM=y

CONFIG_UART_ISR_IN_IRAM=y
CONFIG_UART_RX_BUFFER_SIZE=8192

CONFIG_ETH_ENABLED=n

CONFIG_IDF_COMPONENT_MANAGER=n